@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 94.12%);
  --foreground: hsl(0 0% 10.2%);
  --card: hsl(0 0% 98.82%);
  --card-foreground: hsl(0, 0%, 0%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2, 84%, 4.9%);
  --primary: hsl(342 85.11% 52.55%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 76.86%);
  --secondary-foreground: hsl(0 0% 10.2%);
  --muted: hsl(0 0% 89.02%);
  --muted-foreground: hsl(0 0% 12.94%);
  --accent: hsl(0, 0%, 100%);
  --accent-foreground: hsl(0, 0%, 10.2%);
  --destructive: hsl(0, 0%, 0%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 90.98%);
  --input: hsl(0 0% 70.98%);
  --ring: hsl(0, 0%, 41.96%);
  --chart-1: hsl(203.8863, 88.2845%, 53.1373%);
  --chart-2: hsl(159.7826, 100%, 36.0784%);
  --chart-3: hsl(42.0290, 92.8251%, 56.2745%);
  --chart-4: hsl(147.1429, 78.5047%, 41.9608%);
  --chart-5: hsl(341.4894, 75.2000%, 50.9804%);
  --sidebar: hsl(45, 25%, 97%);
  --sidebar-foreground: hsl(20, 14%, 17%);
  --sidebar-primary: hsl(9, 75%, 61%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(25, 45%, 80%);
  --sidebar-accent-foreground: hsl(20, 14%, 17%);
  --sidebar-border: hsl(45, 15%, 80%);
  --sidebar-ring: hsl(9, 75%, 61%);
  --font-sans: 'Poppins', sans-serif;
  --font-serif: 'Poppins', sans-serif;
  --font-mono: Menlo, monospace;
  --radius: 0.8rem;
}

.dark {
  --background: hsl(222.2, 84%, 4.9%);
  --foreground: hsl(210, 40%, 98%);
  --card: hsl(222.2, 84%, 4.9%);
  --card-foreground: hsl(210, 40%, 98%);
  --popover: hsl(222.2, 84%, 10%);
  --popover-foreground: hsl(210, 40%, 98%);
  --primary: hsl(210, 40%, 98%);
  --primary-foreground: hsl(222.2, 47.4%, 11.2%);
  --secondary: hsl(217.2, 32.6%, 17.5%);
  --secondary-foreground: hsl(210, 40%, 98%);
  --muted: hsl(217.2, 32.6%, 17.5%);
  --muted-foreground: hsl(215, 20.2%, 65.1%);
  --accent: hsl(217.2, 32.6%, 17.5%);
  --accent-foreground: hsl(210, 40%, 98%);
  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(210, 40%, 98%);
  --border: hsl(217.2, 32.6%, 17.5%);
  --input: hsl(217.2, 32.6%, 17.5%);
  --ring: hsl(212.7, 26.8%, 83.9%);
}

.sidebar-active {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
